body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: white;
}

.header_container {
  display: flex;
}

.img_header_google img {
  margin-left: 40px;
  margin-top: 45px;
  width: auto;
  height: 40px;
  cursor: pointer;
}

.barra_pesquisa {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-radius: 80px;
  width: 850px;
  height: 50px;
  margin-top: 40px;
  margin-left: 40px;
  border: 1px solid #d6d6d6;
  cursor: text;
  transition: all 0.1s linear;
}

.barra_pesquisa:hover {
  background-color: rgb(238, 237, 237);
}

.img_barra img {
  margin-right: 15px;
  margin-top: 10px;
  height: 30px;
  width: auto;
}

#mic {
  cursor: pointer;
}

#luneta {
  cursor: pointer;
}

#teclado {
  height: 24px;
  width: auto;
  margin-bottom: 2px;
  cursor: pointer;
}

.perfil {
  display: flex;
  margin-top: 32px;
  align-items: center;
  margin-left: 750px;
  gap: 13px;
}

#quadrado {
  width: auto;
  height: 40px;
  cursor: pointer;
}

#foto_perfil {
  width: auto;
  height: 40px;
  cursor: pointer;
}

.topicos {
  gap: 35px;
  margin-top: 20px;
  display: flex;
  color: #6e6e6e;
  margin-left: 220px;
  font-size: 17px;
}

.topicos p {
  cursor: pointer;
}

.borda_azul {
  border: 2px solid #2f7eec;
  width: 70px;
  margin-left: 204px;
}

#active {
  color: #2f7eec;
}

.borda_cinza {
  border: 1px solid #d6d6d6;
  width: 8000px;
}

.container_article {
  display: flex;
}

.text_article {
  font-size: 15px;
  display: flex;
  margin-left: 220px;
  color: #6e6e6e;
}

.blocos {
  flex-direction: column;
  margin-left: 220px;
}

.blocos h2 {
  color: #3d3691;
}

#verde {
  color: #345b44;
}

#desc {
  color: #6e6e6e;
  line-height: 25px;
}

a {
  text-decoration: none;
}
